---
import AboutSection from "../components/astro/AboutSection.astro";
import CommunitySection from "../components/astro/CommunitySection.astro";
import HeroSection from "../components/astro/HeroSection.astro";
import JoinSection from "../components/astro/JoinSection.astro";
import StatsSection from "../components/astro/StatsSection.astro";
import Layout from "../layouts/Layout.astro";
import {
  WEBSITE_DESCRIPTION,
  WEBSITE_TITLE,
  WEBSITE_URL,
} from "../utils/constants";
---

<Layout
  title={WEBSITE_TITLE}
  description={WEBSITE_DESCRIPTION}
  url={WEBSITE_URL}
>
  <main class="flex-1">
    <HeroSection />
    <StatsSection />
    <AboutSection />
    <CommunitySection />
    <JoinSection />
  </main>
</Layout>
