---
import Footer from "../components/astro//Footer.astro";
import AboutSection from "../components/astro/AboutSection.astro";
import CommunitySection from "../components/astro/CommunitySection.astro";
import HeroSection from "../components/astro/HeroSection.astro";
import JoinSection from "../components/astro/JoinSection.astro";
import Header from "../components/svelte/Header.svelte";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Header client:only="svelte" />
  <main class="flex-1">
    <HeroSection />
    <AboutSection />
    <CommunitySection />
    <JoinSection />
  </main>
  <Footer />
</Layout>
