---
import "@fontsource-variable/plus-jakarta-sans";
import "../styles/globals.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      IMPHNEN - Ingin Menjadi Programmer Handal, Namun Enggan Ngoding
    </title>
    <meta
      name="description"
      content="A community where lazy programmers assemble to share memes, tips & tricks, and knowledge"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <div class="flex min-h-screen flex-col">
      <slot />
    </div>
  </body>
</html>
